.featured {
    height: 110vh;
    position: relative;
}

.type {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 5px;
    font-weight: 500;
    display: flex;
    gap: 0.2rem;
    color: #d8d8d8;
    align-items: center;
    transform: translateY(0.5rem);
    animation: idk 0.5s ease-in 7s forwards;
}

.type > img {
    animation: idk 0.5s ease-in 7s forwards;
    width: 2.1rem;
}

@keyframes idk {
    from {
        font-size: 1.2rem;
        width: 2.1rem;
    }
    to {
        font-size: 0.8rem;
        width: 1.5rem;
    }
}

.featured > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-info {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 1.2rem;
    color: #fff;
    position: absolute;
    width: 37%;
    left: 3.4rem;
    bottom: 33%;
    font-size: 1.3rem;
}

.movie-info > img {
    width: 30rem;
    animation: reduce 0.5s ease-in 7s forwards;
}

@keyframes reduce {
    from {
        width: 30rem;
    }
    to {
        width: 25rem;
    }
}

.movie-info > p {
    line-height: 1.3;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    animation: fade 0.5s linear 7s forwards;
}

@keyframes fade {
    0% {
        opacity: 1;
        height: 5rem;
    }
    50% {
        opacity: 0.5;
        height: 3rem;
    }
    100% {
        opacity: 0;
        height: 0;
    }
}

.actions, .actions > button {
    display: flex;
    font-weight: 500;
    font-size: 1rem;
    gap: 0.6rem;
}

.actions > button {
    cursor: pointer;
    border: none;
    border-radius: 0.3rem;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 0.5rem;
    flex-basis: 30%;
}

.more-info-btn {
    flex-grow: 0.5;
    color: #fff;
    background: #6d6d6eb3;
}

.more-info-btn:hover {
    background: #4646476e;
}

@media only screen and (max-width: 720px) {
    .featured {
        display: none;
    }
} 