*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --black-color: #0a0a0a;
    --gray-border: #353535;
    --black-gradient: linear-gradient(180deg, var(--black-color) 0%, #131313 100%);
}

body {
    font-size: 16px;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    background: var(--black-color);
}
